* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.articleblock {
  margin: 20px auto;
  position: relative;
  width: 400px;
  padding: 15px;
  background: linear-gradient(to bottom, #fffeff, #dcdedc);
  border: 2px solid #ffffff;
  border-radius: 0 0 10px 10px;
  font: 1em sans-serif;
}

.articleblock>header {
  position: relative;
  display: inline-block;
  top: -20px;
  left: -17px;
  background-color: black;
  padding: 5px;
  padding-left: 20px;
  z-index: 1;
}

.articleblock>header>h3 {
  color: #ffb465;
  font-size: 31px;
}

.articleblock>header::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 90px;
  width: 40px;
  height: 46;
  background-color: black;
  transform: skewX(-30deg);
  z-index: -1;
}