@using WebPL.Models;
@using Entities;
@{
    if (!User.IsInRole("Admin"))
    {
        Response.SetStatus(HttpStatusCode.Forbidden);
    }

    Layout = "~/_Layout.cshtml";
    var awards = Common.AwardLogic.GetAll();
}

<div class="panel panel-default">
    <div class="panel-body">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Picture</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var award in awards)
                {
                    <tr>
                        <td style="width:35px;">
                            <p>@award.Id</p>
                        </td>
                        <td data-id="@award.Id" style="width:50px;">
                            @if (award.Image != null)
                            {
                                <img class="awardList_item__image" src="data:image/jpeg;base64,@Convert.ToBase64String(@award.Image)" alt="Award image" />
                            }
                            else
                            {
                                <img class="awardList_item__image" src=@Award.GetDefaultImage() alt="Award image" />

                            }
                        </td>
                        <td>
                            <p>@award.Title</p>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" role="button" href="~/Awards/DeleteAward?awardId=@award.Id">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" role="button" href="~/Awards/EditAward?awardId=@award.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
