* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #ffffff;
    background-color: #008b66;
    margin: 10px;
    padding: 10px;
}

header>h3 {
    font-weight: normal;
}

article {
    background-color: #dfe6e1;
    border: 1px solid #ffffff;
    position: relative;
    padding: 10px;
    top: -15px;
    margin: 9px;
    margin-left: 39px;
}